.fn-cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.fh-hero-image-wrapper-second {
  overflow: hidden;
  width: 542px;
  height: 720px;
  border-radius: 300px;
}

.fn-button-secondery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 137px;
  padding: 12px 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 8px;
  background-color: transparent;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 1.6em;
}

.fn-button-secondery:hover {
  background-color: #3e4545;
}

.fn-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #df0;
  border-radius: 8px;
  background-color: #df0;
  -webkit-transition: opacity 250ms ease, border-color 250ms ease;
  transition: opacity 250ms ease, border-color 250ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #0f1213;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
  text-align: center;
}

.fn-button:hover {
  border-color: #0f1213;
  opacity: 0.9;
}

.fn-button-wrapper {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.fn-paragraph {
  margin-bottom: 32px;
  color: #cdd3d2;
  font-size: 16px;
  line-height: 1.6em;
}

.fn-heading-1 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 64px;
  line-height: 1.2em;
}

.fn-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.fn-container-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 1310px;
  padding-right: 15px;
  padding-left: 15px;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.fn-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1d1f1e;
  font-family: 'Open Sans', sans-serif;
  color: #ecf0ef;

}

.fn-button-dark {
  padding: 12px 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  border-radius: 8px;
  background-color: #1d1f1e;
  -webkit-transition: color 250ms ease, background-color 250ms ease;
  transition: color 250ms ease, background-color 250ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #df0;
  font-size: 16px;
  line-height: 1.6em;
}

.fn-button-dark:hover {
  border-color: #0f1213;
  background-color: #df0;
  color: #0f1213;
}

.fn-button-dark.w--current {
  background-color: #1d1f1e;
}

.fn-button-dark.w--current:hover {
  background-color: transparent;
}

.fn-button-secondery-dark {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #1d1f1e;
  border-radius: 8px;
  background-color: transparent;
  -webkit-transition: color 250ms ease, background-color 250ms ease;
  transition: color 250ms ease, background-color 250ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #1d1f1e;
  font-size: 16px;
  line-height: 1.6em;
}

.fn-button-secondery-dark:hover {
  background-color: #1d1f1e;
  color: #df0;
}

.fn-navbar-link-box {
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  color: #1d1f1e;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 400;
  text-decoration: underline;
}

.fn-navbar-link-box:hover {
  opacity: 0.7;
}

.fn-navbar-links-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.fn-navbar-menu-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.fn-navbar-menu-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.fn-contain-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #df0;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.fn-contain-logo.dark-logo {
  color: #1d1f1e;
}

.fn-brand-box {
  width: 106px;
  height: 21.55px;
  margin-right: 0px;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.fn-brand-box:hover {
  opacity: 0.7;
}

.fn-brand-box.side-margin.w--current {
  margin-right: 20px;
}

.fn-navbar-container-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1310px;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 16px;
  background-color: #df0;
}

.fn-navbar-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1d1f1e;
}

.fn-button-secondery-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 8px;
  background-color: transparent;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.6em;
}

.fn-button-secondery-navbar:hover {
  background-color: #3e4545;
}

.fn-navbar-link-second {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}

.fn-navbar-link-second:hover {
  color: #df0;
}

.fn-navbar-link-second.w--current {
  color: #df0;
}

.fn-navbar-link-second-2 {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #ecf0ef;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 400;
  text-decoration: underline;
}

.fn-dropdown-list-link {
  width: 100%;
  min-width: 206px;
  padding: 12px 24px;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  color: #ecf0ef;
  font-size: 18px;
  line-height: 1.4em;
}

.fn-dropdown-list-link:hover {
  color: #df0;
}

.fn-dropdown-list-link.w--current {
  color: #df0;
}

.fn-navbar-link-list {
  display: none;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 12px;
  background-color: #0f1213;
  text-align: left;
}

.fn-navbar-link-list.w--open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.fn-navbar-link-list.first-look {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.fn-dropdown-link-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 12px;
  height: 8px;
  margin-left: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.fn-dorpdown-link {
  margin-right: 0px;
  margin-left: 0px;
}

.fn-navbar-menu-wrapper-second {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.fn-navbar-menu-box-second {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.fn-navbar-container-second {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1310px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.fn-navbar-box-second {
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1d1f1e;
}

@media screen and (max-width: 991px) {
  .fh-hero-image-wrapper-second {
    width: 100%;
    height: 460px;
  }

  .fn-button-secondery {
    -webkit-transition: none 0ms ease;
    transition: none 0ms ease;
  }

  .fn-button-secondery:hover {
    background-color: transparent;
  }

  .fn-heading-1 {
    font-size: 48px;
  }

  .fn-container-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .fn-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .fn-nav-line-3 {
    width: 16px;
    height: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-radius: 4px;
    background-color: #19224c;
  }

  .fn-nav-line-3.green-line {
    background-color: #df0;
  }

  .fn-nav-line-2 {
    width: 16px;
    height: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-radius: 4px;
    background-color: #19224c;
  }

  .fn-nav-line-2.green-line {
    background-color: #df0;
  }

  .fn-nav-line-1 {
    width: 16px;
    height: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-radius: 4px;
    background-color: #19224c;
  }

  .fn-nav-line-1.green-line {
    background-color: #df0;
  }

  .nav-menu-button-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .fn-menu-button {
    margin-right: -18px;
    padding-right: 18px;
  }

  .fn-menu-button.w--open {
    z-index: 2;
    background-color: transparent;
  }

  .fn-button-dark:hover {
    background-color: #1d1f1e;
    color: #df0;
  }

  .fn-button-secondery-dark {
    -webkit-transition: none 0ms ease;
    transition: none 0ms ease;
  }

  .fn-button-secondery-dark:hover {
    background-color: transparent;
    color: #1d1f1e;
  }

  .fn-navbar-link-box {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding: 12px 0px;
    -webkit-transition: none 0ms ease;
    transition: none 0ms ease;
  }

  .fn-navbar-link-box:hover {
    opacity: 1;
  }

  .fn-navbar-link-box.navbar-link-box-last {
    margin-bottom: 12px;
  }

  .fn-navbar-links-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .fn-navbar-menu-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 12px 24px 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 16px;
    background-color: #df0;
  }

  .fn-navbar-menu-box {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: transparent;
  }

  .fn-brand-box {
    z-index: 2;
    -webkit-transition: none 0ms ease;
    transition: none 0ms ease;
  }

  .fn-brand-box:hover {
    opacity: 1;
  }

  .fn-navbar-container-box {
    padding-right: 15px;
    padding-left: 15px;
  }

  .fn-menu-button-second {
    margin-right: -15px;
    padding-right: 18px;
  }

  .fn-menu-button-second.w--open {
    background-color: transparent;
  }

  .fn-button-secondery-navbar {
    border-color: #ecf0ef;
    color: #ecf0ef;
  }

  .fn-button-secondery-navbar:hover {
    background-color: transparent;
  }

  .fn-navbar-link-second {
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 1px solid #3e4545;
    color: #ecf0ef;
  }

  .fn-navbar-link-second:hover {
    color: #ecf0ef;
  }

  .fn-navbar-link-second.w--current {
    color: #ecf0ef;
  }

  .fn-navbar-link-second.w--current:hover {
    color: #ecf0ef;
  }

  .fn-navbar-link-second.last-link-on-mobile {
    border-bottom: 1px solid #3e4545;
  }

  .fn-navbar-link-second-2 {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding: 24px 0px;
  }

  .fn-dropdown-list-link {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-transition: none 0ms ease;
    transition: none 0ms ease;
  }

  .fn-dropdown-list-link:hover {
    color: #ecf0ef;
  }

  .fn-navbar-link-list {
    position: relative;
    display: none;
    margin-top: -12px;
    padding-top: 0px;
    padding-bottom: 28px;
  }

  .fn-navbar-link-list.w--open {
    position: relative;
  }

  .fn-dorpdown-link {
    width: 100%;
  }

  .fn-navbar-menu-wrapper-second {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 0px 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    border-radius: 16px;
    background-color: #0f1213;
  }

  .fn-navbar-menu-box-second {
    padding-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #0f1213;
  }

  .fn-navbar-container-second {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .fn-navbar-box-second {
    background-color: #0f1213;
  }
}

@media screen and (max-width: 767px) {
  .fh-hero-image-wrapper-second {
    display: none;
  }

  .fn-button {
    width: 100%;
  }

  .fn-paragraph {
    margin-bottom: 24px;
  }

  .fn-heading-1 {
    margin-bottom: 12px;
    font-size: 38px;
  }

  .fn-container-grid {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .fn-section {
    overflow: visible;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .fn-button-dark {
    width: 100%;
  }

  .fn-navbar-link-box {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .fn-navbar-menu-wrapper {
    padding: 18px;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .fn-brand-box {
    margin-right: 0px;
    padding-left: 0px;
  }

  .fn-navbar-link-second {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .fn-navbar-link-second-2 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .fn-navbar-menu-wrapper-second {
    padding: 0px 0px 18px;
  }
}

@media screen and (max-width: 479px) {
  .fn-button-secondery {
    width: 100%;
  }

  .fn-button {
    width: 100%;
  }

  .fn-button-wrapper {
    width: 100%;
  }
}

#w-node-c20ae455-65b7-5dce-f7f4-96193d425c51-c5dc75fe {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-c20ae455-65b7-5dce-f7f4-96193d425c53-c5dc75fe {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-c5c62aee-98e2-be8f-d3af-820b216f0172-c5dc75fe {
  -ms-grid-column: span 6;
  grid-column-start: span 6;
  -ms-grid-column-span: 6;
  grid-column-end: span 6;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-c5c62aee-98e2-be8f-d3af-820b216f017a-c5dc75fe {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-c5c62aee-98e2-be8f-d3af-820b216f017c-c5dc75fe {
  -ms-grid-column: span 6;
  grid-column-start: span 6;
  -ms-grid-column-span: 6;
  grid-column-end: span 6;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: end;
  justify-self: end;
}

@media screen and (max-width: 991px) {
  #w-node-c20ae455-65b7-5dce-f7f4-96193d425c51-c5dc75fe {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #w-node-c20ae455-65b7-5dce-f7f4-96193d425c53-c5dc75fe {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-c5c62aee-98e2-be8f-d3af-820b216f0172-c5dc75fe {
    -ms-grid-column: span 4;
    grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }

  #w-node-c5c62aee-98e2-be8f-d3af-820b216f017c-c5dc75fe {
    -ms-grid-column: span 4;
    grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }
}

@media screen and (max-width: 479px) {
  #w-node-c5c62aee-98e2-be8f-d3af-820b216f0178-c5dc75fe {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #w-node-c5c62aee-98e2-be8f-d3af-820b216f017a-c5dc75fe {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
