<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class = "container" style="padding-bottom:75px;background:whitesmoke">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<h1 style="text-align:center">Music Forum</h1>

<div>
    <p style = "text-align:center">NAV BAR TO BE ADDED</p>
</div>

<div th:replace="fragments :: login"></div>

</body>
</html>