<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RegisterPage</title>
    <link rel="stylesheet" type="text/css" href="/register.css">
</head>

<body class="body">
<div class="div-block">
    <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="fn-navbar-box-second w-nav"></div>
</div>
<div class="fn-section-2 wf-section">
    <div class="fn-container-grid-2">
        <div id="w-node-_89eb598c-7a53-a5cb-c1f4-0fad8d0d2f6f-c5dc75fe" class="fn-column-center">
            <h2 class="fn-heading-2">Register</h2>
<!--            <p class="fn-paragraph-no-margin">Aliquet tellus imperdiet morbi tincidunt gravida nulla.<br>Vitae cum vel vulputate at mauris.</p>-->
        </div>
        <div id="w-node-_89eb598c-7a53-a5cb-c1f4-0fad8d0d2f78-c5dc75fe" class="fn-form w-form">
            <form id="wf-form-Form-Standard" name="wf-form-Form-Standard" data-name="Form Standard" method="get" class="fn-form-standard">
                <input type="email" class="fn-field w-input" autocomplete="off" maxlength="256" name="Email-3" data-name="Email 3" placeholder="Name"  required="">
                <input type="text" class="fn-field w-input" autocomplete="off" maxlength="256" name="Name-2" data-name="Name 2" placeholder="Email"  required="">
                <input type="text" class="fn-field w-input" autocomplete="off" maxlength="256" name="Name-2" data-name="Name 2" placeholder="Phone Number"  required="">
                <input type="date" class="fn-field w-input" autocomplete="off" maxlength="256" name="Name-2" data-name="Name 2" placeholder="Day of birth"  required="">
                <input type="text" class="fn-field w-input" autocomplete="off" maxlength="256" name="Name-2" data-name="Name 2" placeholder="User name"  required="">
                <input type="text" class="fn-field w-input" autocomplete="off" maxlength="256" name="Name-2" data-name="Name 2" placeholder="Password"  required="">
                <input type="text" class="fn-field w-input" autocomplete="off" maxlength="256" name="Name-2" data-name="Name 2" placeholder="Confirm password"  required="">

                <div class="fn-form-wrapper"><label class="w-checkbox fn-checkbox-wrapper">
                    <div class="w-checkbox-input w-checkbox-input--inputType-custom fn-checkbox"></div>
                    <input type="checkbox" id="checkbox-3" name="checkbox-3" data-name="Checkbox 3" required="" style="opacity:0;position:absolute;z-index:-1"><span class="w-form-label" for="checkbox-3">I agree to terms</span>
                </label>
                    <input type="submit" data-wait="Please wait..." value="Submit" class="fn-button-form w-button"></div>
            </form>
            <div class="fn-success-message w-form-done">

            </div>

        </div>
    </div>
</div>
</body>
</html>